<header>
	<div>
		<%= link_to "vicy app", '#', id: "logo" %>
		<nav>
			<ul>
				<li><%= link_to "Home", '#' %></li>
				<li><%= link_to "Help", help_path %></li>
				<li><%= link_to "User", users_new_path %></li>
				<li><%= link_to "Log in", '#' %></li>
			</ul>
		</nav>
	</div>
</header>